@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SwishBook</h1>
    <p>SwishBook, a cutting-edge web application powered by ASP.NET Core and C#, redefines book category management. Seamlessly create, update, and delete categories with user-friendly precision, all while enjoying a visually appealing interface crafted using Visual Studio. Backed by the reliability of Microsoft SQL Server Management Studio, SwishBook ensures secure and efficient data storage. Simplify your book management process today with SwishBook, where innovation meets ease.</p>
</div>
